{% extends "layout.html" %}


{% load i18n %}

{% block title %}{% trans "Newsletter" %} {{ newsletter.title }} {{ action }} {% trans "activate" %}{% endblock title %}

{% block content %}
<div class="container newsletter-success">
    <h1>{% trans "Newsletter: " %} {{ newsletter.title }}</h1>

    <h3>{% trans "Your subscription has successfully been activated." %}</h3>
    <hr>
	<hr>
	<a href="{% url 'index' %}" class="btn btn-lg btn-success">Look at our wide range of products</a>
</div>
{% endblock %}
