{% load thumbnail %}
{% if record.primary_image.original.url %}
    {% with image=record.primary_image %}
        <a href="{{ image.original.url }}" rel="lightbox_{{ record.upc|default:"-" }}" class="sub-image">
            <img style="{height:70px; width: 70px; }" src="https://res.cloudinary.com/dvqjn4lzj/image/upload/v1487920162/{{ image.original.name }}" alt="{{ record.get_title }}" data-description="{% if image.caption %}{{ image.caption }}{% endif %}">
        </a>
    {% endwith %}
{% else %}
    —
{% endif %}
