{% extends "layout.html" %}
{% load i18n %}
{% load category_tags %}
{% load slideshow_tags %}
{% load product_tags %}
{% load product_view_tags %}
{% load store_view_tags %}
{% load home_solution_tag %}
{% load cloudinary %}

{% block navigation %}
    {% include "partials/nav_primary.html" with expand_dropdown=1 %}
{% endblock %}

{% block header %}{% endblock %}

{% block column_left %}
{% endblock %}

{% block content %}
<script>
$(document).ready(function() {

  $("#main-slider").owlCarousel({
	navigation: true, // Show next and prev buttons
	slideSpeed: 300,
	paginationSpeed: 400,
	autoPlay: true,
	stopOnHover: true,
	singleItem: true,
	afterInit: ''
    });
 });
</script>
<div class="container slider ">
    <div class="col-md-12">
    	{% image_list as images %}
        <div id="main-slider" class="owl-carousel owl-theme">
            {% for image in images %}
                <div class="item">
                    <a href="{{ image.url }}">{% cloudinary image.image.name class="img-responsive" %}</a>
                </div>
            {% endfor %}
        </div>
                    <!-- /#main-slider -->
    </div>
 </div>
 <div class="container">
 <h1 align="center">Categories</h1>
 <div class="row">
{% for category in category_list %}
   <div class="col-sm-4">   
      <div class="sol-tile">
        <a href="{{ category.get_absolute_url }}">{% cloudinary category.image.name class="img-responsive" %}</a>
        <h2><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></h2>
        <p>{{ category.description|safe }}</p>
      </div>
   </div>
   {% endfor %}
 </div>
</div>

  <div class="container">
    <h1>Stores</h1>
    <div class="row">
    {% store_list as stores %}
    {% for store in stores %}
    <div class="col-sm-3">
      <div class="view view-sixth">
        <a href="{% url 'store' store.slug %}">{% cloudinary store.image.name class="img-responsive" %}</a>
      <div class="mask">
      <h2><a href="{% url 'store' store.slug %}" class="mask-h">{{ store.name }}</a></h2>
      <p>{{ store.description }}</p>
      <a href="{% url 'store' store.slug %}" class="btn btn-primary">View</a>
      </div>
      </div>
      <h2 align="center"><a href="{% url 'store' store.slug %}"">{{ store.name }}</a></h2>
    </div>
    {% endfor %}
    </div>
  </div>

{% endblock content %}
