{% extends "layout.html" %}
{% load i18n %}
{% load category_tags %}
{% load slideshow_tags %}
{% load product_tags %}
{% load product_view_tags %}
{% load store_view_tags %}
{% load home_solution_tag %}
{% load cloudinary %}

{% block navigation %}
    {% include "partials/nav_primary.html" with expand_dropdown=1 %}
{% endblock %}

{% block header %}{% endblock %}

{% block column_left %}
{% endblock %}

{% block content %}
<script>
$(document).ready(function() {

  $("#main-slider").owlCarousel({
	navigation: true, // Show next and prev buttons
	slideSpeed: 300,
	paginationSpeed: 400,
	autoPlay: true,
	stopOnHover: true,
	singleItem: true,
	afterInit: ''
    });
 });
</script>
<div class="container slider ">
    <div class="col-md-12">
    	{% image_list as images %}
        <div id="main-slider" class="owl-carousel owl-theme">
            {% for image in images %}
                <div class="item">
                    <a href="{{ image.url }}">{% cloudinary image.image.name class="img-responsive" %}</a>
                </div>
            {% endfor %}
        </div>
                    <!-- /#main-slider -->
    </div>
 </div>
 <div class="container">
 <h1>Home Solutions - Get all solutions at one place</h1>
 <div class="row">
   <div class="col-sm-4">
      {% request_quote as quote %}
      <div class="view view-sixth">
        <a href="{% url 'request_quote' %}">{% cloudinary quote.tile_image.name %}</a>
      <div class="mask">
        <h2><a href="{% url 'request_quote' %}" class="mask-h">{{ quote.name }}</a></h2>
        <p>{{ quote.title }}</p>
        <a href="{% url 'request_quote' %}" class="btn btn-primary">View</a>
      </div>
      </div>
   </div>
   <div class="col-sm-4">
      {% decorate_space as space %}
       <div class="view view-sixth">
        <a href="{% url 'request_quote' %}">{% cloudinary space.tile_image.name %}</a>
      <div class="mask">
        <h2><a href="{% url 'decorate_space' %}" class="mask-h">{{ space.name }}</a></h2>
        <p>{{ space.title }}</p>
        <a href="{% url 'decorate_space' %}" class="btn btn-primary">View</a>
      </div>
      </div>
   </div>
   <div class="col-sm-4">
      {% power_solution as power %}
        <div class="view view-sixth">
        <a href="{% url 'request_quote' %}">{% cloudinary power.tile_image.name %}</a>
      <div class="mask">
        <h2><a href="{% url 'power_solution' %}" class="mask-h">{{ power.name }}</a></h2>
        <p>{{ power.title }}</p>
        <a href="{% url 'power_solution' %}" class="btn btn-primary">View</a>
      </div>
      </div>
   </div>
 </div>
</div>

  <div class="container">
    <h1>Stores</h1>
    <div class="row">
    {% store_list as stores %}
    {% for store in stores %}
    <div class="col-sm-3">
      <div class="view view-sixth">
        <a href="{% url 'store' store.slug %}"">{% cloudinary store.image.name class="img-responsive" %}</a>
      <div class="mask">
      <h2><a href="{% url 'store' store.slug %}" class="mask-h">{{ store.name }}</a></h2>
      <p>{{ store.description }}</p>
      <a href="{% url 'store' store.slug %}" class="btn btn-primary">View</a>
      </div>
      </div>
      <h2 align="center"><a href="{% url 'store' store.slug %}"">{{ store.name }}</a></h2>
    </div>
    {% endfor %}
    </div>
  </div>

{% endblock content %}
