{% extends 'layout.html' %}
{% load widget_tweaks %}

{% block content_wrapper %}
<div class="solution-background" style="background-image: url(https://res.cloudinary.com/dvqjn4lzj/image/upload/v1487920162/{{power.background_image.name}});">
	<div class="container quote-form">
	<h1>{{ power.title }}</h1>
	<p>{{ power.description }}
	</p>
	<form id="post_form" method="post" action=""
	<form>
		{% csrf_token %}
		{% for hidden in sol_form.hidden_fields %}
       		{{ hidden }}
    	{% endfor %}	
    	<div class="form-group">
	{% render_field sol_form.name placeholder=sol_form.name.label class="form-control" %}
       {% render_field sol_form.email placeholder=sol_form.email.label class="form-control" %}
       {% render_field sol_form.phone_number placeholder=sol_form.phone_number.label class="form-control" %}
       {% render_field sol_form.address placeholder=sol_form.address.label class="form-control" %}
       {% render_field sol_form.message placeholder=sol_form.message.label class="form-control" %}
        

        <h3>Enter your requirements, so we can provide you better.</h3>
        <div class="pow-sol-input">

			<label for="id_small_light">Number of lights (CFL/LED)</label><select id="id_small_light" class="form-control" name="small_light" required="">
			<option value="0" selected="selected">0</option>
			<option value="1-3">1-3</option>
			<option value="4-6">4-6</option>
			<option value="7-9">7-9</option>
			<option value=">10">&gt;10</option>
			</select>
			<label for="id_big_light">Number of tubelights</label><select id="id_big_light" class="form-control" name="big_light" required="">
			<option value="0" selected="selected">0</option>
			<option value="1-3">1-3</option>
			<option value="4-6">4-6</option>
			<option value="7-9">7-9</option>
			<option value=">10">&gt;10</option>
			</select>
			<label for="id_fan">Number of fan</label><select id="id_fan" name="fan" class="form-control" required="">
			<option value="0" selected="selected">0</option>
			<option value="1-3">1-3</option>
			<option value="4-6">4-6</option>
			<option value="7-9">7-9</option>
			<option value=">10">&gt;10</option>
			</select>
			<label for="id_desktop">Number of TC/Desktop</label><select id="id_desktop" class="form-control" name="desktop" required="">
			<option value="0" selected="selected">0</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value=">5">&gt;5</option>
			</select>
			<label for="id_hours">Number of usage hours</label><select id="id_hours" class="form-control" name="hours" required="">
			<option value="3">3</option>
			<option value="6">6</option>
			<option value="9">9</option>
			<option value="12">12</option>
			</select>
		</div>
		</div>
		<hr>
    <input type="submit" name="submit" value="Submit" class="btn btn-lg btn-info" />
	</form>
	</div>
{% endblock %}