{% extends 'layout.html' %}
{% load widget_tweaks %}

{% block extrastyles %}
    
{% endblock %}

{% block content_wrapper %}
<div style="background-image: url(https://res.cloudinary.com/dvqjn4lzj/image/upload/v1487920162/{{quote.background_image.name}});" class="solution-background">
<div class="container quote-form">
<h1>{{ quote.title }}</h1>
<p>{{ quote.description }}</p>
<form id="post_form" method="post" action=""
      enctype="multipart/form-data">
      <div class="form-group">
    {% csrf_token %}
    {% for hidden in quote_form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

       {% render_field quote_form.name placeholder=quote_form.name.label class="form-control" %}
       {% render_field quote_form.email placeholder=quote_form.email.label class="form-control" %}
       {% render_field quote_form.phone_number placeholder=quote_form.phone_number.label class="form-control" %}
       {% render_field quote_form.message placeholder=quote_form.message.label class="form-control" %}

<hr>
    <input id="id_form-TOTAL_FORMS" name="form-TOTAL_FORMS" type="hidden" value="5" /><input id="id_form-INITIAL_FORMS" name="form-INITIAL_FORMS" type="hidden" value="0" /><input id="id_form-MIN_NUM_FORMS" name="form-MIN_NUM_FORMS" type="hidden" value="0" /><input id="id_form-MAX_NUM_FORMS" name="form-MAX_NUM_FORMS" type="hidden" value="1000" />
    <tr><th></th><td><input id="id_form-0-image"  class="form-control" name="form-0-image" type="file" accept="image/*"/><input id="id_form-0-id" class="form-control" name="form-0-id" type="hidden" /></td></tr>
        <tr><th></th><td><input id="id_form-1-image" class="form-control hidden" name="form-1-image" type="file" accept="image/*"/><input id="id_form-1-id" name="form-1-id" type="hidden" /></td></tr>
        <tr><th></th><td><input id="id_form-2-image" class="form-control hidden" name="form-2-image" type="file" accept="image/*"/><input id="id_form-1-id" name="form-1-id" type="hidden" /></td></tr>
        <tr><th></th><td><input id="id_form-3-image" class="form-control hidden" name="form-3-image" type="file" accept="image/*"/><input id="id_form-1-id" name="form-1-id" type="hidden" /></td></tr>
        <tr><th></th><td><input id="id_form-4-image" class="form-control hidden" name="form-4-image" type="file" accept="image/*"/><input id="id_form-1-id" name="form-1-id" type="hidden" /></td></tr>
        <hr>
        <a class="btn btn-sm btn-success" id="add-image">add image</a>  <a class="btn btn-sm btn-danger" id="remove-image">remove image</a>
    <hr>
    <hr>
    <input type="submit" name="submit" value="Submit" class="btn btn-lg btn-info" />
    </div>
</form>
</div>
</div>
{% endblock %}
