{% extends 'layout.html' %}

{% block content %}
<div id="xsgBody">


<ul><li><a href="http://www.firepit.in/"><span class="title">Categories</span></a>
<ul><li><a href="http://www.firepit.in/about_us/"><span class="title">About Us</span></a>
</li><li><a href="http://www.firepit.in/blog/index"><span class="title">Super Blog
      </span></a>
</li><li><a href="http://www.firepit.in/about/contact/"><span class="title">Contact Us</span></a>
</li><li><a href="http://www.firepit.in/catalogue/arm-chair-sofa_3/"><span class="title">arm chair sofa</span></a>
<ul><li><a href="http://www.firepit.in/catalogue/arm-chair-sofa_3/reviews/1/"><span class="title">
    Customer reviews
</span></a>
</li><li><a href="http://www.firepit.in/catalogue/arm-chair-sofa_3/reviews/"><span class="title">
    Customer reviews
</span></a>
</li></ul></li><li><a href="http://www.firepit.in/catalogue/store/new-store"><span class="title">/catalogue/store/new-store</span></a>
</li><li><a href="http://www.firepit.in/catalogue/category/whats4side_3/"><span class="title">WHATS4SIDE</span></a>
</li><li><a href="http://www.firepit.in/catalogue/something_5/"><span class="title">something</span></a>
</li><li><a href="http://www.firepit.in/catalogue/store/asdfasdf"><span class="title">/catalogue/store/asdfasdf</span></a>
</li><li><a href="http://www.firepit.in/catalogue/category/coffeetime_5/"><span class="title">coffeetime</span></a>
</li><li><a href="http://www.firepit.in/accounts/login/"><span class="title">Newsletter  </span></a>
<ul><li><a href="http://www.firepit.in/password-reset/"><span class="title">Password reset</span></a>
</li></ul></li><li><a href="http://www.firepit.in/catalogue/hand-sofa_6/"><span class="title">hand sofa</span></a>
</li><li><a href="http://www.firepit.in/request_quote"><span class="title">/request_quote</span></a>
</li><li><a href="http://www.firepit.in/catalogue/category/entertainment_4/"><span class="title">Entertainment</span></a>
</li><li><a href="http://www.firepit.in/catalogue/category/liveyourlife_6/"><span class="title">liveyourlife</span></a>
</li><li><a href="http://www.firepit.in/decorate_space"><span class="title">/decorate_space</span></a>
</li><li><a href="http://www.firepit.in/catalogue/category/sleeptight_2/"><span class="title">SleepTight</span></a>
</li><li><a href="http://www.firepit.in/power_solution"><span class="title">/power_solution</span></a>
</li><li><a href="http://www.firepit.in/basket/"><span class="title">
    Cart
</span></a>
</div>

{% endblock %}